:root{
    --bg-color: white;
    --text-color1: black;
    --box-bg: #DB9B3E ;
    --border: #7C5823;
    --nav-color: black;
    --nav-color-dark: darkgrey;
    --text-decoration: #822227;
    --bg-color-dark: #560F14;
    --text-color-dark: darkgrey;
}